<section id="footer"{% if page.theme_class %} class="{{ page.theme_class }}"{% endif %} {% if page.background_image %} style="--footer-image:url('{{ page.background_image }}')" {% endif %}>
  <div class="inner">
    <ul class="actions">
      <li><a href="{{ '/contact.html' | relative_url }}" class="icon fa-address-book fa-2x"></a></li>
      <li><a href="https://www.kuleuven.be/wieiswie/nl/person/00036095" target="_blank" class="icon fa-university fa-2x"></a></li>
      <li><a href="https://www.linkedin.com/in/stef-lhermitte/" target="_blank" class="icon fa-linkedin-square fa-2x"></a></li>
      <li><a href="https://scholar.google.be/citations?user=xMF43YQAAAAJ&hl=nl" target="_blank" class="ai ai-google-scholar-square fa-2x"></a></li>
      <li><a href="https://www.github.com/steflhermitte/" target="_blank" class="icon fa-github-square fa-2x"></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Stef Lhermitte. All rights reserved.</li>
      <li>Design: Stef Lhermitte based on <a href="http://html5up.net" target="_blank">HTML5 UP</a> template</li>
    </ul>
  </div>
</section>