<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="title" content="{{ page.meta_title | default: site.title }}" />
<meta name="description" content="{{ page.description | default: site.description }}" />
<meta name="author" content="Stef Lhermitte" />
<meta name="keywords" content="Remote sensing, snow, ice, vegetation, atmosphere, climate, clouds, Greenland, Antarctica, Stef Lhermitte, KU Leuven, Leuven" />
<!--[if lte IE 8]><script src="{{ '/assets/js/ie/html5shiv.js' | relative_url }}"></script><![endif]-->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
<link rel="icon" type="image/x-icon" href="{{ '/images/favicon-globe.ico' | relative_url }}" />
<!--[if lte IE 9]><link rel="stylesheet" href="{{ '/assets/css/ie9.css' | relative_url }}" /><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" href="{{ '/assets/css/ie8.css' | relative_url }}" /><![endif]-->