<nav id="menu">
  <div class="inner">
    <h2>Menu</h2>
    <ul class="links">
      <li><a href="{{ '/' | relative_url }}"><span class="icon fa-globe"></span> Home</a></li>
      <li><a href="{{ '/people.html' | relative_url }}"><span class="icon fa-user-circle-o"></span> People</a></li>
      <li><a href="{{ '/research.html' | relative_url }}"><span class="icon fa-map"></span> Research</a></li>
      <!-- <li><a href="{{ '/stories.html' | relative_url }}"><span class="icon fa-paper-plane"></span> Highlights</a></li> -->
      <li><a href="{{ '/projects.html' | relative_url }}"><span class="icon fa-flag"></span> Projects</a></li>
      <li><a href="{{ '/publications.html' | relative_url }}"><span class="icon fa-paperclip"></span> Publications</a></li>
      <li><a href="{{ '/vacancy.html' | relative_url }}"><span class="icon fa-graduation-cap"></span> Vacancies</a></li>
      <li><a href="{{ '/contact.html' | relative_url }}"><span class="icon fa-address-book-o"></span> Contact</a></li>
    </ul>
    <a href="#" class="close">Close</a>
  </div>
</nav>