<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ page.title | default: site.title }}{% unless page.title == site.title or page.title == nil %} | {{ site.title }}{% endunless %}</title>
    {% include head.html %}
  </head>
  <body{% if page.background_image %} style="background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.2)), url('{{ page.background_image | relative_url }}')"{% endif %}>
    <div id="page-wrapper">
      {% include header.html %}
      {% include menu.html %}
      {{ content }}
      {% include footer.html %}
    </div>
    {% include scripts.html %}
  </body>
</html>